<div>
	<h2>Sections for page: <%=@page.name%></h2>
</div>
<%= link_to("Add new Section", new_subject_page_section_path(@subject, @page)) %>
<div>
	<table>
		<tr>
			<th>#</th>
			<th>Page ID</th>
			<th>Section</th>
			<th>Visible</th>
			<th>Actions</th>
		</tr>
		<% @sections.each do |section|%>
		<tr>
			<td><%= section.position %></td>
			<td><%= section.page_id %></td>
			<td><%= section.name %></td>
			<td><%= section.visible ? 'Yes' : 'No' %></td>
			<td>
				<%= link_to("Show", subject_page_section_path(@subject, @page ,section)) %> | 
				<%= link_to("Edit", edit_subject_page_section_path(@subject, @page ,section)) %> | 
				<%= link_to("Delete", delete_subject_page_section_path(@subject, @page ,section)) %>
			</td>
		</tr>
		<% end %>
	</table>
</div>
<%= link_to("Back to page", subject_pages_path(@subject)) %>
