<%= link_to("<< Back to Section List", subject_page_sections_path(@subject, @page)) %>

<div>
	<%= form_for(@section, :url => subject_page_sections_path(@subject, @page)) do |f| %>
	<table>
		<tr>
			<th>Name</th>
			<td><%= f.text_field(:name) %></td>
		</tr>
		<tr>
			<th>Page ID</th>
			<td><%= f.text_field(:page_id) %></td>
		</tr>
		<tr>
			<th>Position</th>
			<td><%= f.text_field(:position) %></td>
		</tr>
		<tr>
			<th>Visible?</th>
			<td><%= f.text_field(:visible) %></td>
		</tr>
		<tr>
			<th>Content Type</th>
			<td><%= f.text_field(:content_type) %></td>
		</tr>
		<tr>
			<th>Content</th>
			<td><%= f.text_field(:content) %></td>
		</tr>
	</table>
		<div>
			<%= f.submit("Create Page") %>
		</div>
	<% end %>
</div>