<% @page_title = "Pages" %>
<div class="pages index">
	<h2>Pages for: <%=@subject.name%></h2>
	<%= link_to("Add new Page", new_subject_page_path(@subject),:class => 'action new') %>

	<table class="listing" summary="Page list">
		<tr class="header">
			<th>#</th>
			<th>Subject ID</th>
			<th>Name</th>
			<th>Permalink</th>
			<th>Visible</th>
			<th>Sections</th>
			<th>Actions</th>
		</tr>
		<% @pages.each do |page| %>
		<tr>
			<td><%= page.position %></td>
			<td><%= page.subject_id %></td>
			<td><%= page.name %></td>
			<td><%= page.permalink %></td>
			<td class="center"><%= status_tag(page.visible)%>
			<td class="center"><%= page.sections.size %></td>
			</td>
			<td class="actions">
				<%= link_to("View Sections", subject_page_sections_path(@subject, page), :class => 'action show') %>
				<%= link_to("Show", subject_page_path(page, @subject), :class => 'action show') %>
				<%= link_to("Edit", edit_subject_page_path(page, @subject), :class => 'action edit') %>
				<%= link_to("Delete", delete_subject_page_path(page, @subject), :class => 'action delete') %>
			</td>
		</tr>
		<% end %>
	</table>
</div>