<% @page_title = "Pages" %>
<div>
	<h2>Pages for subject: <%=@subject.name%></h2>
</div>
<%= link_to("Add new Page", new_subject_page_path(@subject)) %>
<div>
	<table>
		<tr>
			<th>#</th>
			<th>Subject ID</th>
			<th>Name</th>
			<th>Permalink</th>
			<th>Visible</th>
			<th>Sections</th>
			<th>Actions</th>
		</tr>
		<% @pages.each do |page| %>
		<tr>
			<td><%= page.position %></td>
			<td><%= page.subject_id %></td>
			<td><%= page.name %></td>
			<td><%= page.permalink %></td>
			<td><%= status_tag(page.visible)%>
			<td><%= page.sections.size %></td>
			</td>
			<td>
				<%= link_to("View Sections", subject_page_sections_path(@subject, page)) %> | 
				<%= link_to("Show", subject_page_path(page, @subject)) %> | 
				<%= link_to("Edit", edit_subject_page_path(page, @subject)) %> | 
				<%= link_to("Delete", delete_subject_page_path(page, @subject)) %>
			</td>
		</tr>
		<% end %>
	</table>
</div>
<%= link_to("Back to subjects", subjects_path) %>
