<% if !flash[:notice].blank? %>
	<div>
		<%= flash[:notice] %>
	</div>
<%end%>

<div>
	<%= link_to("<<Back to pages", pages_path(:subject_id => @subject.id)) %>
	<h2>Show Page '<%=@page.name %>'</h2>

	<table>
		<tr>
			<th>Name</th>
			<td><%= @page.name %></td>
		</tr>
		<tr>
			<th>Subject ID</th>
			<td><%= @page.subject_id %></td>
		</tr>
		<tr>
			<th>Permalink</th>
			<td><%= @page.permalink %></td>
		</tr>
		<tr>
			<th>Position</th>
			<td><%= @page.position %></td>
		</tr>
		<tr>
			<th>Visible</th>
			<td><%= @page.visible ? 'Yes' : 'No' %></td>
		</tr>
		<tr>
			<th>Created</th>
			<td><%= @page.created_at %></td>
		</tr>
		<tr>
			<th>Updated</th>
			<td><%= @page.updated_at %></td>
		</tr>
	</table>
</div>