<% if !flash[:notice].blank? %>
	<div>
		<%= flash[:notice] %>
	</div>
<%end%>

<%= link_to("Back to List", subjects_path) %>

<div>
	<h2>Show Subject</h2>

	<table>
		<tr>
			<th>Name</th>
			<td><%= @subject.name %></td>
		</tr>
		<tr>
			<th>Position</th>
			<td><%= @subject.position %></td>
		</tr>
		<tr>
			<th>Visisble?</th>
			<td><%= @subject.visible ? 'Yes' : 'No' %></td>
		</tr>
		<tr>
			<th>Created</th>
			<td><%= @subject.created_at %></td>
		</tr>
		<tr>
			<th>Updated</th>
			<td><%= @subject.updated_at %></td>
		</tr>
	</table>
</div>